<div class="layout px--4 flex flex--col flex--stretch-x gap--xlarge">

  {% comment %} Now + Forecast (stacked) {% endcomment %}
  <div class="flex flex--col flex--stretch-x flex--evenly gap--xlarge lg:portrait:h--full lg:portrait:gap--none">

    {% comment %} Now {% endcomment %}
    <div class="px--2 py--6 no-shrink">
      {% render "now_block", station: station, today: today, today_name: today_name, icon_size: 80, temp_size: "value lg:value--xlarge", desc_class: "label", temp_inline: false, unit: unit %}
    </div>

    {% comment %} Forecast {% endcomment %}
    <div class="flex flex--col flex--stretch-x gap--large">
        {% assign fdays = forecast.fivedayforecast | slice: 1, 4 %}
        <div class="grid grid--cols-2 lg:portrait:grid--cols-1 grow gap--large">
          {% for day in fdays limit: 2 %}
            {% render "forecast_card", day: day, dagen: dagen, icon_size: 48, fill: true, unit: unit, pad: "px--4 py--3 portrait:px--2 lg:portrait:px--6", val_class: "value--xsmall lg:value--small", dir_class: "flex--row flex--between portrait:flex--col portrait:flex--col.flex--center-y lg:flex--col lg:flex--col.flex--center-y lg:portrait:flex--row lg:portrait:flex--row.flex--between", group_class: "flex--row portrait:flex--col lg:flex--col lg:portrait:flex--row lg:portrait:gap--small" %}
          {% endfor %}
        </div>
        <div class="grid grid--cols-2 lg:portrait:grid--cols-1 grow gap--large">
          {% for day in fdays offset: 2 %}
            {% render "forecast_card", day: day, dagen: dagen, icon_size: 48, fill: true, unit: unit, pad: "px--4 py--3 portrait:px--2 lg:portrait:px--6", val_class: "value--xsmall lg:value--small", dir_class: "flex--row flex--between portrait:flex--col portrait:flex--col.flex--center-y lg:flex--col lg:flex--col.flex--center-y lg:portrait:flex--row lg:portrait:flex--row.flex--between", group_class: "flex--row portrait:flex--col lg:flex--col lg:portrait:flex--row lg:portrait:gap--small" %}
          {% endfor %}
        </div>
      </div>

    <div class="hidden lg:portrait:visible">
      {% render "text_block", heading: "Verwachting", body: forecast.shortterm.forecast %}
    </div>

  </div>

</div>

{% render "titlebar", station: station, show_name: show_name, show_time: show_time %}
