<div class="layout px--4 flex flex--col flex--stretch-x gap--xlarge">

  {% comment %} Now + Forecast {% endcomment %}
  <div class="flex flex--row flex--stretch-y gap--xlarge">

    {% comment %} Now {% endcomment %}
    <div class="px--2 py--2 lg:py--6 no-shrink w--[40cqw] flex flex--col flex--stretch-x flex--center-y">
      {% render "now_block", station: station, today: today, today_name: today_name, icon_size: 80, temp_size: "value--small lg:value--xlarge", desc_class: "label", temp_inline: false, unit: unit, range_class: "value--xsmall lg:value--base text--gray-35", range_small_class: "value--xsmall lg:value--small" %}
    </div>

    {% comment %} Forecast {% endcomment %}
    <div class="flex flex--col flex--stretch-x grow gap--large">
      {% assign fdays = forecast.fivedayforecast | slice: 1, 4 %}
      <div class="grid grid--cols-2 lg:portrait:grid--cols-1 grow gap--large">
        {% for day in fdays limit: 2 %}
          {% render "forecast_card", day: day, dagen: dagen, icon_size: 48, fill: true, unit: unit, pad: "px--2 py--3 lg:portrait:px--6" %}
        {% endfor %}
      </div>
      <div class="grid grid--cols-2 lg:portrait:grid--cols-1 grow gap--large">
        {% for day in fdays offset: 2 %}
          {% render "forecast_card", day: day, dagen: dagen, icon_size: 48, fill: true, unit: unit, pad: "px--2 py--3 lg:portrait:px--6" %}
        {% endfor %}
      </div>
    </div>

  </div>

  <div class="hidden portrait:visible lg:portrait:hidden">
    {% render "text_block", heading: null, body: forecast.shortterm.forecast %}
  </div>

</div>

{% render "titlebar", station: station, show_name: show_name, show_time: show_time %}
